/*
Mamy RAOBY
mamyraoby@outlook.com
+261 34 27 71 392
*/
/* 
    Created on : 30 nov. 2016, 11:26:16
    Author     : Mamy RAOBY <mamyraoby@outlook.com>
*/

#charm{
    min-width: 400px;
    background-color: #4388D1;
    color: whitesmoke;
    padding-top: 0px;
}
h3{
    cursor: pointer;
    margin-left: 10px;
}

.menu{
    margin-left: 25px;
}